<%= form_tag employees_path do %>

  <label>First name:</label>
  <%= text_field_tag :'employee[first_name]' %>
  <br>
  <label>Last name:</label>
  <%= text_field_tag :'employee[last_name]' %>
  <br>
  <label>Alias:</label>
  <%= text_field_tag :'employee[alias]' %>
  <br>
  <label>Title:</label>
  <%= text_field_tag :'employee[title]' %>
  <br>
  <label>Office:</label>
  <%= text_field_tag :'employee[office]' %>
  <br>

<%= submit_tag "Edit Employee" %>
<% end %>
